body {
  margin: 0px;
  font: 14px / 21px 'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4a8279;
  -webkit-font-smoothing: antialiased;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
/**
*--------------------------------------------
* font-size --> 14px
* baseline --> 14px * 1.5 = 21px
*theme - margin ---> baseline * 3
*--------------------------------------------
*/
header {
  background-color: #f5f7f8;
  text-align: center;
}
header ul {
  list-style: none;
  display: inline-block;
}
header ul li {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  float: left;
}
header ul li:after {
  content: "|";
  display: inline-block;
  padding: 0 .5em;
}
header ul a {
  color: #4a8279;
  text-decoration: none;
  padding: .2em .5em;
}
header ul a:hover {
  color: #ffffff;
  background-color: #4d9258;
}
header ul #contact:after {
  content: "";
}
header .container {
  padding: 21px 0;
}
#logo {
  background-image: url('../img/logo.png');
  width: 230px;
  height: 120px;
  display: block;
  margin: 0 auto 42px auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.show {
  display: block !important;
}
.fixed-header {
  display: none;
  background-color: rgba(77, 146, 88, 0.7);
  width: 100%;
  position: fixed;
  z-index: 200000000;
  top: 0;
}
.fixed-header .container {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
}
.fixed-header #logo-fixed {
  font-family: Roboto;
  position: absolute;
  top: 30%;
  display: inline-block;
  font-size: 2em;
  width: 350px;
  height: 30px;
  float: left;
}
.fixed-header ul {
  padding: 1em;
  float: right;
  text-transform: uppercase;
}
.fixed-header ul li {
  display: inline-block;
  margin: 0 1em;
  font-size: 1em;
  letter-spacing: 2px;
}
.fixed-header a {
  color: #fff;
  text-decoration: none;
}
#welcome {
  background-image: url('../img/fondo.jpg');
  background-size: 100%;
  min-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
#aboutUs {
  width: 100%;
  min-height: 550px;
  background-color: #fff;
}
#aboutUs .container {
  padding: 63px 0;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#aboutUs .container h2 {
  font-size: 3.5em;
  font-weight: 300;
  margin: 0 0 63px 0;
  letter-spacing: 2px;
}
#aboutUs .container .description {
  display: inline-block;
  width: 49%;
  float: left;
  font-size: 1.3em;
  text-align: left;
  line-height: 27px;
  color: #333538;
}
#aboutUs .container .description p {
  margin: 0;
}
#aboutUs .container .description h3 {
  color: #4a8279;
  font-size: 1.7em;
  font-weight: 400;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin: 0.6em 0;
}
#aboutUs .container .team {
  width: 50%;
  float: left;
}
#aboutUs .container .team img {
  padding: .5em;
}
#portfolio {
  width: 100%;
  min-height: 550px;
  background-color: #f5f7f8;
}
#portfolio .container {
  padding: 63px 0;
  width: 1040px;
  margin: 0 auto;
  text-align: center;
}
#portfolio .container h2 {
  font-size: 3.5em;
  font-weight: 300;
  margin: 0 0 63px 0;
  letter-spacing: 2px;
  color: #2a3744;
}
#portfolio .container .row {
  min-height: 160px;
  width: 100%;
  position: relative;
}
.fa-chevron-circle-left {
  float: left;
  font-size: 4em;
  position: absolute;
  top: 30%;
  left: -2%;
}
.fa-chevron-circle-right {
  color: #4a8279;
  float: right;
  font-size: 4em;
  position: absolute;
  top: 30%;
  right: -2%;
}
.slick-slide {
  width: 270px;
}
#contactUs {
  width: 100%;
  min-height: 550px;
  background-color: #2a3744;
}
#contactUs .container {
  text-align: center;
  padding: 63px 0;
  width: 1000px;
  margin: 0 auto;
}
#contactUs .container h2 {
  margin: 0;
  margin-top: 0.35em;
  margin-bottom: 0.6em;
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}
#contactUs .container #map_canvas {
  float: left;
  height: 454px;
  width: 575px;
  background-color: #eaeaea;
}
#contactUs .container .form {
  display: inline-block;
  margin-left: 21px;
  width: 40%;
  float: left;
}
#contactUs .container .form input[type="text"],
#contactUs .container .form input[type="email"] {
  font-size: 1.8em;
  border: none;
  height: 54px;
  outline: none;
  display: block;
  width: 100%;
  margin-bottom: 21px;
}
#contactUs .container .form textarea {
  font-family: Roboto;
  font-size: 1.8em;
  font-weight: 400;
  border: none;
  height: 150px;
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 21px;
}
#contactUs .container .form input[type="submit"] {
  float: right;
  background-color: #4d9258;
  border: none;
  height: 54px;
  width: 170px;
  outline: none;
  background-image: url(../img/circulo.png);
  background-repeat: no-repeat;
  background-position: 80% 50%;
  text-align: center;
  cursor: pointer;
}
#contactUs .container .form input[value~="SEND"] {
  color: white;
  font-size: 2em;
  font-family: Roboto;
  font-weight: 400;
  padding-right: 1em;
}
footer {
  width: 100%;
  height: 90px;
  background-color: #212a34;
}
footer .container {
  width: 1000px;
  height: 90px;
  margin: 0 auto;
  font-size: 3.4em;
  position: relative;
}
footer .container .social {
  position: absolute;
  float: left;
  top: 50%;
  margin-top: -24px;
}
footer .container .social a i {
  color: #eaeaea;
  margin-right: .1em;
}
footer .container .goTotop {
  background-color: #4a8279;
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  float: right;
}
footer .container .goTotop i {
  color: #eaeaea;
}
